[project]
	description = Open vSwitch
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Abhijit Herekar (abhijitherekar)
[access "refs/for/refs/*"]
	read = group user/Abhijit Herekar (abhijitherekar)
	push = group user/Abhijit Herekar (abhijitherekar)
	label-Code-Review = -2..+2 group user/Abhijit Herekar (abhijitherekar)
	label-Verified = -1..+1 group user/Abhijit Herekar (abhijitherekar)
	rebase = group user/Abhijit Herekar (abhijitherekar)
	removeReviewer = group user/Abhijit Herekar (abhijitherekar)
	submit = group user/Abhijit Herekar (abhijitherekar)
[access "refs/heads/*"]
	read = group user/Abhijit Herekar (abhijitherekar)
	create = group user/Abhijit Herekar (abhijitherekar)
	push = +force group user/Abhijit Herekar (abhijitherekar)
	pushMerge = group user/Abhijit Herekar (abhijitherekar)
[access "refs/tags/*"]
	push = group user/Abhijit Herekar (abhijitherekar)
	push = +force group user/Abhijit Herekar (abhijitherekar)
